BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterClass: true
  AfterStruct: false
  AfterNamespace: false

BreakConstructorInitializersBeforeComma: true
ColumnLimit: 500

AccessModifierOffset: -4

IndentCaseLabels: true

AllowShortEnumsOnASingleLine: false
